<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>
        Bem-vindo(a), {{ currentUser()?.nome }}!
      </mat-card-title>
      <mat-card-subtitle>
        Perfil: <strong>{{ currentUser()?.role }}</strong>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      @if (canStartConsulta()) {
        <div class="actions">
          <button
            mat-raised-button
            color="accent"
            (click)="iniciarNovaConsulta()"
            class="nova-consulta-btn"
          >
            <mat-icon>add_circle_outline</mat-icon>
            Iniciar Nova Consulta
          </button>
        </div>
      } @else {
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="gerenciarPacientes()"
            class="nova-consulta-btn"
          >
            <mat-icon>manage_accounts</mat-icon>
            Gerenciar Pacientes
          </button>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
